.main-menu-main-section{
	color: green;
}
.main-menu-main-section .home-header-main{
	background-color: lightgrey;
	padding-top: 20px;
	padding-bottom: 20px;
}
.main-menu-main-section .home-header .logo-container{
	background-image: url("http://localhost/CoreDataWeb/CoreDataWeb/assets/images/wmp-logo.png");
	height: 50px;
	width: 120px;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}
.main-menu-main-section .home-header .logout-container-main{
	float: right;
}
.main-menu-main-section .home-header .logout-container-secondary{
	float: right;
	padding: 15px 0px;
}
.main-menu-main-section .home-header .logout-container-secondary .user-name-container{
	float: left;
	margin-right: 25px;
	cursor: pointer;
}
.main-menu-main-section .home-header .logout-container-secondary .seperator-container{
	float: left;
	margin-right: 25px;
}
.main-menu-main-section .home-header .logout-container-secondary .logout-text-container{
	float: left;
	cursor: pointer;
}
.main-menu-main-section .menu-item-main .menu-item-secondary .item-record .item-container{
	border: 2px solid grey;
	padding: 30px 45px;
	text-align: center;
	margin: 30px 0px;
	border-radius: 6px;
	cursor: pointer;
}
