/*start styles for breadcrumb */
.breadcrumb {
	border-radius: 0px !important;
	margin-bottom: 0px !important;
}

.breadcrumb-main-container {
	background-color: lightskyblue;
}

ul.breadcrumb {
	padding: 10px 0px;
	list-style: none;
	background-color: lightskyblue;
}

ul.breadcrumb li {
	display: inline;
	font-size: 18px;
}

ul.breadcrumb li + li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

ul.breadcrumb li a {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	font-size: 15px;
}

ul.breadcrumb li a.selected {
	color: #000000;
	cursor: initial;
}

ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

ul.breadcrumb li a.selected:hover {
	text-decoration: none;
	cursor: initial;
}

/* end styles for breadcrumb */

/* start main menu styles */

.main-menu-main-section {
	color: green;
}

.home-header-main {
	background-color: lightgrey;
	padding-top: 20px;
	padding-bottom: 20px;
	color: green;
}

.home-header .logo-container {
	background-image: url("http://localhost/CoreDataWeb/CoreDataWeb/assets/images/wmp-logo.png");
	height: 50px;
	width: 120px;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

.home-header .logout-container-main {
	float: right;
}

.home-header .logout-container-secondary {
	float: right;
	padding: 15px 0px;
}

.home-header .logout-container-secondary .user-name-container {
	float: left;
	margin-right: 25px;
	cursor: pointer;
}

.home-header .logout-container-secondary .seperator-container {
	float: left;
	margin-right: 25px;
}

.home-header .logout-container-secondary .logout-text-container {
	float: left;
	cursor: pointer;
}

.main-menu-main-section .menu-item-main .menu-item-secondary .item-record .item-container {
	border: 2px solid grey;
	padding: 30px 45px;
	text-align: center;
	margin: 30px 0px;
	border-radius: 6px;
	cursor: pointer;
}

/* end styles of main menu */

.spatial-data-main-section {

}

.spatial-data-main-section .title-button-main-container .title-button-secondary-container .title-container .title {
	color: #000000;
}

.title-button-main-container .title-button-secondary-container .button-container .add-btn {
	border-radius: 10px;
}

.title-button-main-container .title-button-secondary-container .button-container {
	float: right;
	padding-top: 25px;
}

.title-button-main-container .title-button-secondary-container .title-container {
	float: left;
}

.spatial-data-main-section .maps-list-container-main .map-name-checkbox-container .map-label {
	margin-left: 10px;
	color: cornflowerblue;
}

.spatial-data-main-section .maps-list-container-main .map-name-checkbox-container {
	padding-top: 10px;
	padding-bottom: 10px;
}

.spatial-data-main-section .maps-list-container-main .map-name-checkbox-container .map-checkbox {
	margin-left: 10px;
}

.grey-background {
	background-color: lightgrey;
}

.white-background {
	background-color: #ffffff;
}

/* add new map layer start */
.add-map-layer-main-section .form-main-container {
	margin-top: 20px;
}

.add-map-layer-main-section .form-main-container .map-description {
	height: 100px;
}

.form-main-container .button-container {
	text-align: center;
}

.form-main-container .save-btn {
	width: 150px;
	margin-right: 50px;
	margin-top: 30px;
	border-color: lightgreen;
}

.form-main-container .cancel-btn {
	width: 150px;
	margin-top: 30px;
	background-color: red;
	border-color: red;
}

.footer-button-container {
	text-align: center;
}

.view-map-layer-main-section #mapid {
	height: 500px;
	margin-bottom: 50px;
}

/* end of add new map layer */

/* start of field planning */
.table-container {
	padding-top: 25px;
}

.table-container {
	padding-top: 25px;
}

.table-container table {
	width: 100%;
	border-collapse: collapse;
}

.table-container tbody .run-name-cell {
	color: dodgerblue;
}
.table-container tbody .run-name-cell span{
	cursor: pointer;
}

.table-container table td, tr, th {
	border: none;
}

.table-container table td {
	padding: 10px 5px;
}

.table-container table th {
	padding: 10px 5px;
}

.table-container .map-view-link .link {
	cursor: pointer;
}

/* end of field planning */
/* start update field run */
.update-run-main-section .form-container {
	padding-top: 20px;
}

.update-run-main-section .title-container {
	text-align: center;
}

.update-run-main-section .locations-list-container ul {
	list-style: none;
	text-align: center;
}

.update-run-main-section .locations-list-container li {
	margin-top: 10px;
}

/* end update field run */
.view-run-map-layer-main-section #mapid {
	height: 500px;
	margin-bottom: 50px;
}

.field-activities-main-menu-section .menu-container-secondary {
	padding-top: 15px;
}

.field-activities-main-menu-section .menu-container-secondary .item-container {
	padding: 20px 5px;
	color: dodgerblue;
}

.field-activities-main-menu-section .menu-container-secondary .item-container .menu-item {
	cursor: pointer;
}

/* start add bg location */
.add-bg-main-container #mapid {
	height: 500px;
}

.element-row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.add-bg-main-container {
	padding-bottom: 20px;
}

/* end of bg location */
/* start update bg */
.update-bg-main-container #mapid {
	height: 500px;
}

.update-bg-main-container {
	padding-bottom: 20px;
}

.add-ov-main-container #mapid {
	height: 500px;
}
.update-ov-main-container #mapid {
	height: 500px;
}
.add-ov-main-container {
	padding-bottom: 20px;
}
.update-ov-main-container {
	padding-bottom: 20px;
}
.add-mrc-main-container #mapid {
	height: 500px;
}
.update-mrc-main-container #mapid {
	height: 500px;
}
.add-mrc-main-container {
	padding-bottom: 20px;
}
.update-mrc-main-container {
	padding-bottom: 20px;
}

/* end update bg container */

/* update bg collection start */
.update-bg-Collection-main-container{
	padding-bottom: 15px;
}
.update-ov-Collection-main-container{
	padding-bottom: 15px;
}
.update-persons-main-container{
	padding-bottom: 20px;
}
.update-addresses-main-container{
	padding-bottom: 15px;
}
.update-identification-main-container{
	padding-bottom: 15px;
}
.add-screening-main-container{
	padding-bottom: 15px;
}
.update-screening-main-container{
	padding-bottom: 15px;
}
/* end of bg */
.add-identification-main-container{
	padding-bottom: 15px;
}
.add-identification-main-container table{
	margin-bottom: 10px;
}
.update-identification-main-container .delete-link{
	cursor: pointer;
	color: red;
	text-decoration: underline;
}
.add-incident-main-container{
	padding-bottom: 15px;
}
.add-incident-main-container #mapid{
	height: 500px;
}
.update-incident-main-container{
	padding-bottom: 15px;
}
.update-incident-main-container #mapid{
	height: 500px;
}
.add-export-main-container{
	padding-bottom: 15px;
}
.remove-link{
	cursor: pointer;
	color: red;
	text-decoration: underline;
}
